<!-- Container -->
<div class="container h-100">

	<!-- Row -->
	<div class="row d-flex flex-column h-100 px-2 px-sm-0 overflow-x-auto
							justify-content-center align-items-center">
		
		<!--Form dialog -->
		<div class="form-dialog p-0 bg-white shadow-bottom rounded-top-4 rounded-bottom-3 
								overflow-hidden scale-up col-12 col-sm-11 col-lg-10 col-xl-9 col-xxl-8">

			<!-- Header -->
			<ng-form-dialog-header title-icon="fa-solid fa-unlock-keyhole"
														 title-text-id="password_frogot"
														 title-class="lin-grad-gray text-white">
			</ng-form-dialog-header>

			<!-- Body -->
			<form class="form-dialog-body overflow-auto p-3 pt-4"
						name="dataForm" novalidate>

				<!-- Email -->
				<div class="row input-row mb-2">

					<!-- Label -->
					<label for="email" 
								 class="col-form-label col-form-label-sm col-md-4 text-md-end fw-semibold">
						<i class="fa-solid fa-star fa-2xs text-danger"></i>
						<i class="fa-solid fa-envelope me-1"></i>
						<span>{{'email_address' | translate:lang.data | capitalize}}:</span>
					</label>

					<!-- Input email -->
					<div class="col-11 col-md-7 position-relative">
						<input id="email"
									 name="email" 
									 type="email"
									 ng-attr-placeholder="{{('email_address' | translate:lang.data)}}"
									 class="form-control form-control-sm input-email"
									 spellcheck="false" 
									 autocomplete="off" 
									 required
									 maxlength="50"
									 ng-model="model.email"
									 ng-init="model.email=null"
									 ng-trim="false"
									 ng-disable-space
									 ng-pattern="/^([a-z0-9_.+-])+\@(([a-z0-9-])+\.)+([a-z0-9]{2,4})+$/"
									 ng-clear-icon
									 ng-check-mark>
					</div>
				</div>

				<!-- Email confirm -->
				<div class="row input-row mb-2"
						 ng-if="methods.getOptionsKey('isEmailConfirm')">
							
					<!-- Label -->
					<label for="email_confirm" 
								 class="col-form-label col-form-label-sm col-md-4 text-md-end fw-semibold">
						<i class="fa-solid fa-star fa-2xs text-danger"></i>
						<i class="fa-solid fa-envelope me-1"></i>
						<span>{{'email_address' | translate:lang.data | capitalize}}</span>
						<span>{{'confirmation' | translate:lang.data}}:</span>
					</label>
				
					<!-- Input email confirm -->
					<div class="col-11 col-md-7 position-relative">
						<input id="email_confirm"
									 name="email_confirm"
									 type="email"
									 ng-attr-placeholder="{{('email_address' | translate:lang.data) + ' ' +
																					('confirmation' | translate:lang.data)}}"
									 ng-attr-placeholder="email cím megerősítése"
									 class="form-control form-control-sm input-email"
									 spellcheck="false" 
									 autocomplete="off" 
									 required
									 maxlength="50"
									 ng-model="model.email_confirm"
									 ng-init="model.email_confirm=null"
									 ng-compare-model="model.email"
									 ng-trim="false"
									 ng-disable-space
									 ng-pattern="/^([a-z0-9_.+-])+\@(([a-z0-9-])+\.)+([a-z0-9]{2,4})+$/"
									 ng-clear-icon
									 ng-check-mark>
					</div>
				</div>

				<!-- Frogot password rule -->
				<ng-show-rule ng-if="methods.getOptionsKey('isSendEmail')"
											rule-id="password_forgot_rule" 
											punctuation-mark="!"></ng-show-rule>

				<!-- Test code -->
				<ng-test-code ng-if="methods.getOptionsKey('isTestCode')"></ng-test-code>
			</form>
			
			<!-- Footer -->
			<ng-form-dialog-footer form-name="dataForm"
														 identifier="password_frogot"
														 accept-id="send"
														 accept-icon="fa-solid fa-upload"
														 is-in-edit-mode="helper.isInEditMode"
														 callback-accept="methods.accept"
														 callback-cancel="methods.cancel"
														 link-id="login"
														 link-icon="fa-solid fa-right-to-bracket"
														 link-state="login">
			</ng-form-dialog-footer>
		</div>
	</div>
</div>