<!-- Container -->
<div class="container h-100">

	<!-- Row -->
	<div class="row d-flex flex-column h-100 px-2 px-sm-0 overflow-x-auto
							justify-content-center align-items-center">
		
		<!--Form dialog -->
		<div class="form-dialog p-0 bg-white shadow-bottom rounded-top-4 rounded-bottom-3 
								overflow-hidden scale-up col-12 col-sm-11 col-lg-10 col-xl-9 col-xxl-8">

			<!-- Header -->
			<ng-form-dialog-header title-icon="fa-solid fa-id-card"
														 title-text-id="profile"
														 title-class="lin-grad-green text-white">
			</ng-form-dialog-header>

			<!-- Body -->
			<form class="form-dialog-body overflow-auto px-4 py-2"
						name="dataForm" novalidate>

				<!-- Identifier -->
				<div class="row input-row mb-2">

					<!-- Label -->
					<label for="identifier" 
								 class="col-form-label col-form-label-sm col-md-4 text-md-end fw-semibold">
						<i class="fa-solid fa-id-badge"></i>
						<span class="ms-1 text-capitalize">azonosító:</span>
					</label>

					<!-- Input identifier -->
					<div class="col-11 col-md-7 position-relative">
						<input id="identifier"
									 name="identifier" 
									 type="text"
									 class="form-control form-control-sm input-disabled"
									 spellcheck="false" 
									 autocomplete="off"
									 ng-model="model.identifier"
									 ng-init="model.identifier=user.id"
									 disabled>
					</div>

					<!-- Empty column -->
					<div class="col-1 pt-1"></div>
				</div>

				<!-- User type -->
				<div class="row input-row mb-2"
						 ng-if="methods.isFieldExist('type')">

					<!-- Label -->
					<label for="type" 
								 class="col-form-label col-form-label-sm col-md-4 text-md-end fw-semibold">
						<i class="fa-solid fa-user-gear"></i>
						<span class="ms-1 text-capitalize">típus:</span>
					</label>

					<!-- Input user type -->
					<div class="col-11 col-md-7 position-relative">

						<!-- Input user type -->
						<input id="type"
						       name="type" 
									 type="text"
									 class="form-control form-control-sm input-disabled d-inline-block"
									 style="max-width:30px;"
									 maxlength="1"
									 spellcheck="false" 
									 autocomplete="off"
									 ng-model="model.type"
									 ng-init="model.type=user.type"
									 disabled>

						<!-- Content user type -->
						<span class="ms-1 d-inline-block text-capitalize">
							{{model.typeName | translate:lang.data | capitalize}}
						</span>
					</div>

					<!-- Empty column -->
					<div class="col-1 pt-1"></div>
				</div>

				<!-- Email -->
				<div class="row input-row mb-2">

					<!-- Label -->
					<label for="email" 
								 class="col-form-label col-form-label-sm col-md-4 text-md-end fw-semibold">
						<i class="fa-solid fa-envelope me-1"></i>
						<span>{{'email_address' | translate:lang.data | capitalize}}:</span>
					</label>

					<!-- Input email -->
					<div class="col-11 col-md-7 position-relative">
						<input id="email"
									 name="email" 
									 type="email"
									 class="form-control form-control-sm input-disabled input-email"
									 spellcheck="false" 
									 autocomplete="off" 
									 maxlength="50"
									 ng-model="model.email"
									 ng-init="model.email=user.email"
									 disabled>
					</div>
				</div>

				<!-- Dividing line -->
				<hr class="text-muted" ng-show="helper.isInEditMode">

				<!-- Name -->
				<div class="row input-row mb-2"
						 ng-if="methods.isFieldExist('name')">

					<!-- Label -->
					<label for="name" 
								 class="col-form-label col-form-label-sm col-md-4 text-md-end fw-semibold">
						<i class="fa-solid fa-star fa-2xs text-danger"></i>
						<i class="fa-solid fa-user me-1"></i>
						<span>{{'name' | translate:lang.data | capitalize}}:</span>
					</label>

					<!-- Input name -->
					<div class="col-11 col-md-7 position-relative">
						<input id="name"
									 name="name" 
									 type="text"
									 ng-attr-placeholder="{{helper.isInEditMode ? 
										('name' | translate:lang.data) : ''}}"
									 class="form-control form-control-sm"
									 ng-class="{'input-disabled': !helper.isInEditMode}"
									 spellcheck="false" 
									 autocomplete="off" 
									 required
									 maxlength="50"
									 ng-model="model.name"
									 ng-disabled="!helper.isInEditMode"
									 ng-blur="methods.removeWhitespaces($event)"
									 ng-clear-icon
									 ng-check-mark>
					</div>
				</div>

				<!-- User name -->
				<div class="row input-row mb-2"
						 ng-if="methods.getOptionsKey('isNameDetail')">

					<!-- Label -->
					<label for="user_name" 
								 class="col-form-label col-form-label-sm col-md-4 text-md-end fw-semibold">
						<i class="fa-solid fa-star fa-2xs text-danger"></i>
						<i class="fa-solid fa-user fa-lg me-1"></i>
						<span>{{'name' | translate:lang.data | capitalize}}:</span>
					</label>

					<!-- Input user name -->
					<div class="col-11 col-md-7">

						<!-- Input group -->
						<div class="input-group">

							<!-- Input user name -->
							<input id="user_name"
										 name="user_name" 
										 type="text"
										 class="form-control form-control-sm input-disabled"
										 spellcheck="false" 
									 	 autocomplete="off"
									   ng-model="model.user_name"
										 ng-init="model.user_name=null"
										 disabled>

							<!-- Button toggle -->
							<button class="btn btn-sm name-detail-toggle-btn btn-primary
														 rounded-start-1 shadow-sm-bottom-end btnClickEffect" 
											type="button"
											ng-click="methods.toogleNameDetail()"
											ng-show="helper.isInEditMode">
								<span class="name-detail-toggle-icon d-inline-block">
									<i class="fa-regular fa-circle-up fa-lg"></i>
								</span>
							</button>
						</div>
					</div>

					<!-- Checkmark -->
					<div class="col-1 pt-1">
						<span class="check-mark ms-1 fw-bold text-success"
									ng-show="helper.isInEditMode && model.first_name && model.last_name">
							&check;
						</span>
					</div>
				</div>

				<!-- Name detail container -->
				<div class="name-detail-container mb-2 ps-1 overflow-hidden"
						 ng-show="helper.isInEditMode && 
						 					methods.getOptionsKey('isNameDetail')">

					<!-- Dividing line -->
					<hr class="text-muted mt-2">

					<!-- Username details -->
					<ng-username-details></ng-username-details>

					<!-- Dividing line -->
					<hr class="text-muted my-3">
				</div>

				<!-- Born -->
				<div class="row input-row mb-0"
						 ng-class="{'mb-2': !helper.isInEditMode &&
						 										!methods.getOptionsKey('isBornShowRule')}"
						 ng-if="methods.isFieldExist('born')">

					<!-- Label -->
					<label for="born" 
								 class="col-form-label col-form-label-sm col-md-4 text-md-end fw-semibold">
						<i class="fa-solid fa-star fa-2xs text-danger"></i>
						<i class="fa-solid fa-calendar-days me-1"></i>
						<span class="text-capitalize">
							{{'born' | translate:lang.data}}:
						</span>
					</label>

					<!-- Input born -->
					<div class="col-11 col-md-7 position-relative">
						<input id="born"
									 name="born" 
									 type="date"
									 class="form-control form-control-sm"
									 style="max-width:170px;"
									 ng-class="{'input-disabled': !helper.isInEditMode}"
									 spellcheck="false" 
									 autocomplete="off"
									 max="{{helper.maxBorn}}"
									 min="{{helper.minBorn}}"
									 required
									 ng-model="model.born" 
									 ng-disabled="!helper.isInEditMode"
									 ng-disable-space
									 ng-clear-icon='{"left":"154px","right":""}'
									 ng-check-mark>
					</div>
				</div>

				<!-- Born rule -->
				<ng-show-rule ng-if="helper.isInEditMode && 
														 methods.getOptionsKey('isBornShowRule')"
											rule-id="born_rule"
											punctuation-mark="!"
											assignments="{'minAgeLimit':methods.getOptionsKey('minAgeLimit')}">
				</ng-show-rule>

				<!-- Gender -->
				<fieldset class="row input-row mt-1 mb-3"
									ng-if="methods.isFieldExist('gender')">

					<!-- Label -->
					<legend class="col-form-label col-form-label-sm 
												 col-md-4 text-md-end fw-semibold">
						<i class="fa-solid fa-star fa-2xs text-danger"></i>
						<i class="fa-solid fa-venus-mars me-1"></i>
						<span class="text-capitalize">
							{{'gender' | translate:lang.data}}:
						</span>
					</legend>

					<!-- Checkboxes -->
					<div class="col-11 col-md-7 position-relative mt-1">

						<!-- Inpu/Label for female -->
						<div class="form-check form-check-inline small">
							<input id="female"
										 name="gender" 
										 type="radio"
										 value="F"
										 class="form-check-input"
										 ng-class="{'input-disabled': !helper.isInEditMode}"
										 ng-model="model.gender"
										 ng-disabled="!helper.isInEditMode" 
										 required>
							<label for="female" class="form-check-label opacity-100">
								{{'female' | translate:lang.data}}
							</label>
						</div>

						<!-- Inpu/Label for male -->
						<div class="form-check form-check-inline small">
							<input id="male"
										 name="gender"
										 type="radio" 
										 value="M"
										 class="form-check-input"
										 ng-class="{'input-disabled': !helper.isInEditMode}"
										 ng-model="model.gender"
										 ng-disabled="!helper.isInEditMode"
										 required
										 ng-check-mark>
							<label for="male" class="form-check-label opacity-100">
								{{'male' | translate:lang.data}}
							</label>
						</div>
					</div>
				</fieldset>

				<!-- Image -->
				<div class="row input-row mb-5"
						 ng-if="methods.isFieldExist('img')">

					<!-- Label -->
					<div class="col-form-label col-form-label-sm col-md-4 text-md-end fw-semibold">
						<i class="fa-solid fa-id-card fa-xl"></i>
						<span class="ms-1 text-capitalize">
							{{'image' | translate:lang.data}}:
						</span>
					</div>

					<!-- Image -->
					<div class="col-11 col-md-7 position-relative" 
							 style="height:100px;">

						<!-- Input image -->
						<input id="image"
									 name="image" 
									 type="file"
									 accept="image/*"
									 class="form-control form-control-sm d-none"
									 ng-class="{'input-disabled': !helper.isInEditMode}"
									 ng-model="helper.image"
									 ng-disabled="!helper.isInEditMode"
									 file-input
									 ng-clear-icon='{"top":"50px","left":"150px"}'>

						<!-- Show image -->
						<label for="image">
							<div class="bg-img bg-img-cover overflow-hidden rounded-circle border 
													d-flex align-items-center justify-content-center cursor-pointer"
									 style="width:130px;height:130px;"
									 ng-style="{'background-image':model.img_type?'url(data:'+model.img_type+';base64,'+model.img+')':(model.gender?'url('+app.commonPath+'media/image/blank/'+(model.gender==='F'?'fe':'')+'male-blank.webp)':'')}">
								<span class="text-center text-muted"
											ng-show="!model.img && !model.gender">
									<i class="fa-solid fa-upload"></i><br>
									<span class="fs-sm">Max: 64KB</span>
								</span>							
							</div>
						</label>
					</div>
				</div>

				<!-- Country -->
				<div class="row input-row mb-2"
						 ng-if="methods.isFieldExist('country')">

					<!-- Label -->
					<label for="country" 
								 class="col-form-label col-form-label-sm col-md-4 text-md-end fw-semibold">
						<i class="fa-solid fa-flag me-1"></i>
						<span class="text-capitalize">
							{{'country' | translate:lang.data}}:
						</span>
					</label>

					<!-- Select country -->
					<div class="col-11 col-md-7 position-relative">
						<select id="country"
										name="country"
										class="form-select form-select-sm text-capitalize pe-4"
										ng-class="{'input-disabled': !helper.isInEditMode}"
										autocomplete="off"
										ng-model="model.country"
										ng-disabled="!helper.isInEditMode"
										ng-change="methods.countryChanged()"
										ng-options="x.country for x in helper.countries track by x.country"
										ng-clear-icon='{"right":"-8px"}'>
							<option hidden disabled selected value>
								-- {{'country' | translate:lang.data}} --
							</option>
						</select>
					</div>
				</div>

				<!-- Phone (Country code / Phone) -->
				<div class="row input-row mb-0"
						 ng-class="{'mb-2': !methods.getOptionsKey('isPhoneShowRule')}"
						 ng-if="methods.isFieldExist('phone')">

					<!-- Label -->
					<label for="phone" 
								 class="col-form-label col-form-label-sm col-md-4 text-md-end fw-semibold">
						<i class="fa-solid fa-mobile-screen me-1"></i>
						<span class="text-capitalize">
							<span>{{'phone' | translate:lang.data}}:</span>
						</span>
					</label>

					<!-- Input group -->
					<div class="col-11 col-md-7 position-relative">

						<!-- Input group -->
						<div class="input-group">

							<!-- Select country code -->
							<span>+</span>
							<select id="country_code"
											name="country_code"
											class="form-select form-select-sm ms-1"
											ng-class="{'input-disabled': !helper.isInEditMode}"
											autocomplete="off"
											style="max-width:100px;"
											ng-model="model.country_code"
											ng-options="x for x in helper.countryCodes track by x"
											ng-disabled="!helper.isInEditMode ||
																	 !helper.countryCodes || 
																	  helper.countryCodes.length &lt; 2">
							</select>

							<!-- Input phone -->
							<input id="phone"
							       name="phone" 
										 type="tel"
										 ng-attr-placeholder="{{helper.isInEditMode ? ('phone' | translate:lang.data) : ''}}"
										 class="form-control form-control-sm"
										 ng-class="{'input-disabled': !helper.isInEditMode}"
										 spellcheck="false" 
										 autocomplete="off"
										 maxlength="10"
										 ng-model="model.phone"
										 ng-pattern="/^$|^(?!(0))[0-9]{7,10}$/"
										 ng-disabled="!helper.isInEditMode||!model.country_code"
										 ng-allow-numbers
										 ng-clear-icon='{"right":"14px"}'
										 ng-check-mark>
						</div>
					</div>
				</div>

				<!-- Phone rule -->
				<ng-show-rule rule-id="phone_rule"
											pre-width="120"
											is-capitalize="false"
											punctuation-mark="."
											ng-show="helper.isInEditMode && 
															 methods.getOptionsKey('isPhoneShowRule')">
				</ng-show-rule>

				<!-- City -->
				<div class="row input-row mb-2"
						 ng-if="methods.isFieldExist('city')">

					<!-- Label -->
					<label for="city" 
								 class="col-form-label col-form-label-sm col-md-4 text-md-end fw-semibold">
						<i class="fa-solid fa-city me-1"></i>
						<span class="text-capitalize">
							{{'city' | translate:lang.data}}:
						</span>
					</label>

					<!-- Input city -->
					<div class="col-11 col-md-7 position-relative">
						<input id="city"
									 name="city" 
									 type="text"
									 ng-attr-placeholder="{{helper.isInEditMode ? ('city' | translate:lang.data) : ''}}"
									 class="form-control form-control-sm"
									 ng-class="{'input-disabled': !helper.isInEditMode}"
									 spellcheck="false" 
									 autocomplete="off"
									 maxlength="100"
									 ng-model="model.city"
									 ng-disabled="!helper.isInEditMode"
									 ng-change="methods.cityChanged()"
									 ng-blur="methods.removeWhitespaces($event)"
									 ng-clear-icon>
					</div>
				</div>

				<!-- Post code -->
				<div class="row input-row mb-0"
						 ng-class="{'mb-2': !methods.getOptionsKey('isPostcodeShowRule')}"
						 ng-if="methods.isFieldExist('postcode')">

					<!-- Label -->
					<label for="postcode" 
								 class="col-form-label col-form-label-sm col-md-4 text-md-end fw-semibold">
						<i class="fa-solid fa-list-ol me-1"></i>
						<span class="text-capitalize">
							{{'postcode' | translate:lang.data}}:
						</span>
					</label>

					<!-- Input postcode -->
					<div class="col-11 col-md-7 position-relative">
						<input id="postcode"
									 name="postcode" 
									 type="text"
									 ng-attr-placeholder="{{helper.isInEditMode ? ('postcode' | translate:lang.data) : ''}}"
									 class="form-control form-control-sm"
									 ng-class="{'input-disabled': !helper.isInEditMode}"
									 style="max-width:170px;"
									 spellcheck="false" 
									 autocomplete="off"
									 maxlength="10"
									 ng-model="model.postcode"
									 ng-disabled="!helper.isInEditMode"
									 ng-pattern="/^$|^(?!(0))[0-9]{4,10}$/"
									 ng-disabled="!model.city"
									 ng-allow-numbers
									 ng-clear-icon='{"left":"152px"}'
									 ng-check-mark>
					</div>
				</div>

				<!-- Postcode rule -->
				<ng-show-rule rule-id="postcode_rule"
											is-capitalize="false"
											punctuation-mark="."
											ng-show="helper.isInEditMode && 
															 methods.getOptionsKey('isPostcodeShowRule')">
				</ng-show-rule>

				<!-- Address -->
				<div class="row input-row mb-2"
						 ng-if="methods.isFieldExist('address')">

					<!-- Label -->
					<label for="address" 
								 class="col-form-label col-form-label-sm col-md-4 text-md-end fw-semibold">
						<i class="fa-solid fa-location-dot me-1"></i>
						<span class="text-capitalize">
							{{'address' | translate:lang.data}}:
						</span>
					</label>

					<!-- Textarea address -->
					<div class="col-11 col-md-7 position-relative">
						<textarea id="address"
											name="address"
											ng-attr-placeholder="{{helper.isInEditMode ? ('address' | translate:lang.data) : ''}}"
											class="form-control form-control-sm"
											ng-class="{'input-disabled': !helper.isInEditMode}"
											spellcheck="false" 
											autocomplete="off"
											rows="1"
											ng-model="model.address"
											ng-disabled="!helper.isInEditMode"
											ng-blur="methods.removeWhitespaces($event)"
											ng-clear-icon>
						</textarea>
					</div>
				</div>

				<!-- Only in edit mode -->
				<div class="m-0 p-0" ng-show="helper.isInEditMode">

					<!-- Dividing line -->
					<hr class="text-muted" 
							ng-if="methods.getOptionsKey('isDividingPlusLine')">

					<!-- Password -->
					<div class="row input-row mb-0"
							 ng-class="{'mb-2': !methods.getOptionsKey('isPasswordShowRule')}">
					
						<!-- Label -->
						<label for="password" 
									class="col-form-label col-form-label-sm col-md-4 text-md-end fw-semibold">
							<i class="fa-solid fa-star fa-2xs text-danger"></i>
							<i class="fa-solid fa-key me-1"></i>
							<span class="text-capitalize">{{'password' | translate:lang.data }}:</span>
						</label>
						
						<!-- Input password -->
						<div class="col-11 col-md-7 position-relative">
							<input id="password"
										 name="password"
										 type="password"
										 ng-attr-placeholder="{{helper.isInEditMode ? ('password' | translate:lang.data) : ''}}"
										 class="form-control form-control-sm input-password"
										 spellcheck="false" 
										 autocomplete="off" 
										 required
										 maxlength="20"
										 ng-model="model.password"
										 ng-init="model.password=null"
										 ng-disable-space
										 ng-pattern="/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,20}$/"
										 ng-clear-icon
										 ng-check-mark>
						</div>
					</div>

					<!-- Password rule -->
					<ng-show-rule ng-if="methods.getOptionsKey('isPasswordShowRule')"></ng-show-rule>
				
					<!-- Show/Hide password -->
					<ng-show-password></ng-show-password>

					<!-- Test code -->
					<ng-test-code ng-if="methods.getOptionsKey('isTestCode')"></ng-test-code>
				</div>
			</form>

			<!-- Footer -->
			<ng-form-dialog-footer form-name="dataForm"
														 identifier="profile"
														 accept-id="save"
														 accept-icon="fa-solid fa-floppy-disk"
														 is-in-edit-mode="helper.isInEditMode"
														 callback-accept="methods.accept"
														 callback-cancel="methods.cancel"	 
											 			 link-id="password_change"
											 			 link-icon="fa-solid fa-unlock-keyhole"
											 			 link-state="password_change"
											 			 link-id2="email_change"
											 			 link-icon2="fa-solid fa-envelope"
											 			 link-state2="email_change">
			</ng-form-dialog-footer>
		</div>
	</div>
</div>