<!-- Container -->
<div class="container h-100">

	<!-- Row -->
	<div class="row d-flex flex-column h-100 px-2 px-sm-0 overflow-x-auto
							justify-content-center align-items-center">
		
		<!--Form dialog -->
		<div class="form-dialog p-0 bg-white shadow-bottom rounded-top-4 rounded-bottom-3 
								overflow-hidden scale-up col-12 col-sm-11 col-lg-10 col-xl-9 col-xxl-8">

			<!-- Header -->
			<ng-form-dialog-header title-icon="fa-solid fa-id-card"
														 title-text-id="register"
														 title-class="lin-grad-teal text-white">
			</ng-form-dialog-header>

			<!-- Body -->
			<form class="form-dialog-body overflow-auto p-3 pt-4"
						name="dataForm" novalidate>

				<!-- Name -->
				<div class="row input-row mb-2"
						 ng-if="methods.isFieldExist('name')">

					<!-- Label -->
					<label for="name" 
								 class="col-form-label col-form-label-sm col-md-4 text-md-end fw-semibold">
						<i class="fa-solid fa-star fa-2xs text-danger"></i>
						<i class="fa-solid fa-user me-1"></i>
						<span>{{'name' | translate:lang.data | capitalize}}:</span>
					</label>

					<!-- Input name -->
					<div class="col-11 col-md-7 position-relative">
						<input id="name"
									 name="name" 
									 type="text"
									 ng-attr-placeholder="{{('name' | translate:lang.data)}}"
									 class="form-control form-control-sm"
									 spellcheck="false" 
									 autocomplete="off" 
									 required
									 maxlength="50"
									 ng-model="model.name"
									 ng-init="model.name=null"
									 ng-blur="methods.removeWhitespaces($event)"
									 ng-clear-icon
									 ng-check-mark>
					</div>
				</div>

				<!-- User name -->
				<div class="row input-row mt-1 mb-2"
						 ng-if="methods.getOptionsKey('isNameDetail')">

					<!-- Label -->
					<label for="user_name" 
								 class="col-form-label col-form-label-sm col-md-4 text-md-end fw-semibold">
						<i class="fa-solid fa-star fa-2xs text-danger"></i>
						<i class="fa-solid fa-user fa-lg me-1"></i>
						<span>{{'name' | translate:lang.data | capitalize}}:</span>
					</label>

					<!-- Input user name -->
					<div class="col-11 col-md-7">

						<!-- Input group -->
						<div class="input-group">

							<!-- Input user name -->
							<input id="user_name"
										 name="user_name" 
										 type="text"
										 class="form-control form-control-sm input-disabled"
										 spellcheck="false" 
									 	 autocomplete="off"
									   ng-model="model.user_name"
									   ng-init="model.user_name=null"
										 disabled>

							<!-- Button toggle -->
							<button class="btn btn-sm name-detail-toggle-btn btn-primary
														 rounded-start-1 shadow-sm-bottom-end btnClickEffect" 
											type="button"
											ng-click="methods.toogleNameDetail()">
								<span class="name-detail-toggle-icon d-inline-block">
									<i class="fa-regular fa-circle-up fa-lg"></i>
								</span>
							</button>
						</div>
					</div>

					<!-- Checkmark -->
					<div class="col-1 pt-1">
						<span class="check-mark ms-1 fw-bold text-success"
									ng-show="model.first_name && model.last_name">
							&check;
						</span>
					</div>
				</div>

				<!-- Name detail container -->
				<div class="name-detail-container mb-2 ps-1 overflow-hidden show"
						 ng-if="methods.getOptionsKey('isNameDetail')">

					<!-- Dividing line -->
					<hr class="text-muted mt-2">

					<!-- Username details -->
					<ng-username-details></ng-username-details>

					<!-- Dividing line -->
					<hr class="text-muted my-3">
				</div>

				<!-- Born -->
				<div class="row input-row mb-0"
						 ng-class="{'mb-2': !methods.getOptionsKey('isBornShowRule')}"
						 ng-if="methods.isFieldExist('born')">

					<!-- Label -->
					<label for="born" 
								 class="col-form-label col-form-label-sm col-md-4 text-md-end fw-semibold">
						<i class="fa-solid fa-star fa-2xs text-danger"></i>
						<i class="fa-solid fa-calendar-days me-1"></i>
						<span class="text-capitalize">
							{{'born' | translate:lang.data}}:
						</span>
					</label>

					<!-- Input born -->
					<div class="col-11 col-md-7 position-relative">
						<input id="born"
									 name="born" 
									 type="date"
									 class="form-control form-control-sm"
									 style="max-width:170px;"
									 spellcheck="false" 
									 autocomplete="off"
									 max="{{helper.maxBorn}}"
									 min="{{helper.minBorn}}"
									 required
									 ng-init="model.born=null"
									 ng-model="model.born" 
									 ng-disable-space
									 ng-clear-icon='{"left":"154px","right":""}'
									 ng-check-mark>
					</div>
				</div>

				<!-- Born rule -->
				<ng-show-rule ng-if="methods.getOptionsKey('isBornShowRule')"
											rule-id="born_rule"
											punctuation-mark="!"
											assignments="{'minAgeLimit':methods.getOptionsKey('minAgeLimit')}">
				</ng-show-rule>

				<!-- Gender -->
				<fieldset class="row input-row mb-2"
									ng-if="methods.isFieldExist('gender')">

					<!-- Label -->
					<legend class="col-form-label col-form-label-sm 
												 col-md-4 pt-0 text-md-end fw-semibold">
						<i class="fa-solid fa-star fa-2xs text-danger"></i>
						<i class="fa-solid fa-venus-mars me-1"></i>
						<span class="text-capitalize">
							{{'gender' | translate:lang.data}}:
						</span>
					</legend>

					<!-- Checkboxes -->
					<div class="col-11 col-md-7 position-relative">

						<!-- Inpu/Label for female -->
						<div class="form-check form-check-inline small">
							<input id="female"
										 name="gender" 
										 type="radio"
										 value="F"
										 class="form-check-input"
										 ng-model="model.gender" 
										 required>
							<label for="female" class="form-check-label opacity-100">
								{{'female' | translate:lang.data}}
							</label>
						</div>

						<!-- Inpu/Label for male -->
						<div class="form-check form-check-inline small">
							<input id="male"
										 name="gender"
										 type="radio" 
										 value="M"
										 class="form-check-input"
										 ng-model="model.gender"
										 ng-init="model.gender=null" 
										 required
										 ng-check-mark>
							<label for="male" class="form-check-label opacity-100">
								{{'male' | translate:lang.data}}
							</label>
						</div>
					</div>
				</fieldset>

				<!-- Image -->
				<div class="row input-row mb-5"
						 ng-if="methods.isFieldExist('img')">

					<!-- Label -->
					<div class="col-form-label col-form-label-sm col-md-4 text-md-end fw-semibold">
						<i class="fa-solid fa-id-card fa-xl"></i>
						<span class="ms-1 text-capitalize">
							{{'image' | translate:lang.data}}:
						</span>
					</div>

					<!-- Image -->
					<div class="col-11 col-sm-7 position-relative" 
							 style="height:100px;">

						<!-- Input image -->
						<input id="image"
									 name="image" 
									 type="file"
									 accept="image/*"
									 class="form-control form-control-sm d-none"
									 ng-model="helper.image"
									 ng-init="helper.image=null;model.img=null;model.img_type=null"
									 file-input
									 ng-clear-icon='{"top":"50px","left":"150px"}'>

						<!-- Show image -->
						<label for="image">
							<div class="bg-img bg-img-cover overflow-hidden rounded-circle border 
													d-flex align-items-center justify-content-center cursor-pointer"
									 style="width:130px;height:130px;"
									 ng-style="{'background-image':model.img_type?'url(data:'+model.img_type+';base64,'+model.img+')':(model.gender?'url('+app.commonPath+'media/image/blank/'+(model.gender==='F'?'fe':'')+'male-blank.webp)':'')}">
								<span class="text-center text-muted"
											ng-show="!model.img && !model.gender">
									<i class="fa-solid fa-upload"></i><br>
									<span class="fs-sm">Max: 64KB</span>
								</span>							
							</div>
						</label>
					</div>
				</div>

				<!-- Country -->
				<div class="row input-row mb-2"
						 ng-if="methods.isFieldExist('country')">

					<!-- Label -->
					<label for="country" 
								 class="col-form-label col-form-label-sm col-md-4 text-md-end fw-semibold">
						<i class="fa-solid fa-flag me-1"></i>
						<span class="text-capitalize">
							{{'country' | translate:lang.data}}:
						</span>
					</label>

					<!-- Select country -->
					<div class="col-11 col-md-7 position-relative">
						<select id="country"
										name="country"
										class="form-select form-select-sm text-capitalize pe-4"
										autocomplete="off"
										ng-model="model.country"
										ng-init="model.country=null"
										ng-change="methods.countryChanged()"
										ng-options="x.country for x in helper.countries track by x.country"
										ng-clear-icon='{"right":"-8px"}'>
							<option hidden disabled selected value>
								-- {{'country' | translate:lang.data}} --
							</option>
						</select>
					</div>
				</div>

				<!-- Phone (Country code / Phone) -->
				<div class="row input-row mb-0"
						 ng-class="{'mb-2': !methods.getOptionsKey('isPhoneShowRule')}"
						 ng-if="methods.isFieldExist('phone')">

					<!-- Label -->
					<label for="phone" 
								 class="col-form-label col-form-label-sm col-md-4 text-md-end fw-semibold">
						<i class="fa-solid fa-mobile-screen me-1"></i>
						<span class="text-capitalize">
							<span>{{'phone' | translate:lang.data}}:</span>
						</span>
					</label>

					<!-- Input group -->
					<div class="col-11 col-md-7 position-relative">

						<!-- Input group -->
						<div class="input-group">

							<!-- Select country code -->
							<span>+</span>
							<select id="country_code"
											name="country_code"
											class="form-select form-select-sm ms-1"
											autocomplete="off"
											style="max-width:100px;"
											ng-model="model.country_code"
											ng-init="model.country_code=null"
											ng-options="x for x in helper.countryCodes track by x"
											ng-disabled="!helper.countryCodes || 
																	 helper.countryCodes.length &lt; 2">
							</select>

							<!-- Input phone -->
							<input id="phone"
										 name="phone" 
										 type="tel"
										 ng-attr-placeholder="{{'phone' | translate:lang.data}}"
										 class="form-control form-control-sm"
										 spellcheck="false" 
										 autocomplete="off"
										 maxlength="10"
										 ng-model="model.phone"
										 ng-init="model.phone=null"
										 ng-pattern="/^$|^(?!(0))[0-9]{7,10}$/"
										 ng-disabled="!model.country_code"
										 ng-allow-numbers
										 ng-clear-icon='{"right":"14px"}'
										 ng-check-mark>
						</div>
					</div>
				</div>

				<!-- Phone rule -->
				<ng-show-rule ng-if="methods.getOptionsKey('isPhoneShowRule')"
											rule-id="phone_rule"
											pre-width="120"
											is-capitalize="false"
											punctuation-mark="."></ng-show-rule>

				<!-- City -->
				<div class="row input-row mb-2"
						 ng-if="methods.isFieldExist('city')">

					<!-- Label -->
					<label for="city" 
								 class="col-form-label col-form-label-sm col-md-4 text-md-end fw-semibold">
						<i class="fa-solid fa-city me-1"></i>
						<span class="text-capitalize">
							{{'city' | translate:lang.data}}:
						</span>
					</label>

					<!-- Input city -->
					<div class="col-11 col-md-7 position-relative">
						<input id="city"
						       name="city" 
									 type="text"
									 ng-attr-placeholder="{{'city' | translate:lang.data}}"
									 class="form-control form-control-sm"
									 spellcheck="false" 
									 autocomplete="off"
									 maxlength="100"
									 ng-model="model.city"
									 ng-init="model.city=null"
									 ng-change="methods.cityChanged()"
									 ng-blur="methods.removeWhitespaces($event)"
									 ng-clear-icon>
					</div>
				</div>

				<!-- Post code -->
				<div class="row input-row mb-0"
						 ng-class="{'mb-2': !methods.getOptionsKey('isPostcodeShowRule')}"
						 ng-if="methods.isFieldExist('postcode')">

					<!-- Label -->
					<label for="postcode" 
								 class="col-form-label col-form-label-sm col-md-4 text-md-end fw-semibold">
						<i class="fa-solid fa-list-ol me-1"></i>
						<span class="text-capitalize">
							{{'postcode' | translate:lang.data}}:
						</span>
					</label>

					<!-- Input postcode -->
					<div class="col-11 col-md-7 position-relative">
						<input id="postcode"
						       name="postcode" 
									 type="text"
									 ng-attr-placeholder="{{'postcode' | translate:lang.data}}"
									 class="form-control form-control-sm"
									 style="max-width:170px;"
									 spellcheck="false" 
									 autocomplete="off"
									 maxlength="10"
									 ng-model="model.postcode"
									 ng-init="model.postcode=null"
									 ng-pattern="/^$|^(?!(0))[0-9]{4,10}$/"
									 ng-disabled="!model.city"
									 ng-allow-numbers
									 ng-clear-icon='{"left":"152px"}'
									 ng-check-mark>
					</div>
				</div>

				<!-- Postcode rule -->
				<ng-show-rule ng-if="methods.getOptionsKey('isPostcodeShowRule')"
											rule-id="postcode_rule"
											is-capitalize="false"
											punctuation-mark="."></ng-show-rule>

				<!-- Address -->
				<div class="row input-row mb-2"
						 ng-if="methods.isFieldExist('address')">

					<!-- Label -->
					<label for="address" 
								 class="col-form-label col-form-label-sm col-md-4 text-md-end fw-semibold">
						<i class="fa-solid fa-location-dot me-1"></i>
						<span class="text-capitalize">
							{{'address' | translate:lang.data}}:
						</span>
					</label>

					<!-- Textarea address -->
					<div class="col-11 col-md-7 position-relative">
						<textarea id="address"
											name="address"
											ng-attr-placeholder="{{'address' | translate:lang.data}}"
											class="form-control form-control-sm"
											spellcheck="false" 
											autocomplete="off"
											rows="1"
											ng-model="model.address"
											ng-init="model.address=null"
											ng-blur="methods.removeWhitespaces($event)"
											ng-clear-icon>
						</textarea>
					</div>
				</div>

				<!-- Dividing line -->
				<hr class="text-muted" ng-if="methods.getOptionsKey('isDividingPlusLine')">

				<!-- Email -->
				<div class="row input-row mb-0"
						 ng-class="{'mb-2': !methods.getOptionsKey('isEmailShowRule')}">

					<!-- Label -->
					<label for="email" 
								 class="col-form-label col-form-label-sm col-md-4 text-md-end fw-semibold">
						<i class="fa-solid fa-star fa-2xs text-danger"></i>
						<i class="fa-solid fa-envelope me-1"></i>
						<span>{{'email_address' | translate:lang.data | capitalize}}:</span>
					</label>

					<!-- Input email -->
					<div class="col-11 col-md-7 position-relative">
						<input id="email"
									 name="email" 
									 type="email"
									 ng-attr-placeholder="{{'email_address' | translate:lang.data}}"
									 class="form-control form-control-sm input-email"
									 spellcheck="false" 
									 autocomplete="off" 
									 required
									 maxlength="50"
									 ng-model="model.email"
									 ng-init="model.email=null"
									 ng-disable-space
									 ng-pattern="/^([a-z0-9_.+-])+\@(([a-z0-9-])+\.)+([a-z0-9]{2,4})+$/"
									 ng-clear-icon
									 ng-check-mark>
					</div>
				</div>

				<!-- Email rule -->
				<ng-show-rule ng-if="methods.getOptionsKey('isEmailShowRule')"
											rule-id="email_register_rule" 
											rule-class="text-danger"
											punctuation-mark="!"></ng-show-rule>

				<!-- Email confirm -->
				<div class="row input-row mb-2"
						 ng-if="methods.getOptionsKey('isEmailConfirm')">

					<!-- Label -->
					<label for="email_confirm" 
								 class="col-form-label col-form-label-sm col-md-4 text-md-end fw-semibold">
						<i class="fa-solid fa-star fa-2xs text-danger"></i>
						<i class="fa-regular fa-envelope me-1"></i>
						<span>{{'email_address' | translate:lang.data | capitalize}}</span>
						<span>{{'confirmation' | translate:lang.data}}:</span>
					</label>

					<!-- Input email confirm -->
					<div class="col-11 col-md-7 position-relative">
						<input id="email_confirm"
									 name="email_confirm" 
									 type="email"
									 ng-attr-placeholder="{{('email_address' | translate:lang.data) + ' ' + 
									 												('confirmation' | translate:lang.data)}}"
									 class="form-control form-control-sm input-email"
									 spellcheck="false" 
									 autocomplete="off" 
									 required
									 maxlength="50"
									 ng-model="model.email_confirm"
									 ng-init="model.email_confirm=null"
									 ng-compare-model="model.email"
									 ng-disable-space
									 ng-pattern="/^([a-z0-9_.+-])+\@(([a-z0-9-])+\.)+([a-z0-9]{2,4})+$/"
									 ng-clear-icon
									 ng-check-mark>
					</div>
				</div>

				<!-- Password -->
				<div class="row input-row mb-0"
						 ng-class="{'mb-2': !methods.getOptionsKey('isPasswordShowRule')}">

					<!-- Label -->
					<label for="password" 
								 class="col-form-label col-form-label-sm col-md-4 text-md-end fw-semibold">
						<i class="fa-solid fa-star fa-2xs text-danger"></i>
						<i class="fa-solid fa-key me-1"></i>
						<span>{{'password' | translate:lang.data | capitalize}}:</span>
					</label>

					<!-- Input password -->
					<div class="col-11 col-md-7 position-relative">
						<input id="password"
									 name="password"
									 type="password"
									 ng-attr-placeholder="{{'password' | translate:lang.data}}"
									 class="form-control form-control-sm input-password"
									 spellcheck="false" 
									 autocomplete="off" 
									 required
									 maxlength="20"
									 ng-model="model.password"
									 ng-init="model.password=null"
									 ng-disable-space
									 ng-pattern="/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,20}$/"
									 ng-clear-icon
									 ng-check-mark>
					</div>
				</div>

				<!-- Password rule -->
				<ng-show-rule ng-if="methods.getOptionsKey('isPasswordShowRule')"></ng-show-rule>

				<!-- Password confirm -->
				<div class="row input-row mb-2"
						 ng-if="methods.getOptionsKey('isPasswordConfirm')">

					<!-- Label -->
					<label for="password_confirm" 
								 class="col-form-label col-form-label-sm col-md-4 text-md-end fw-semibold">
						<i class="fa-solid fa-star fa-2xs text-danger"></i>
						<i class="fa-solid fa-unlock-keyhole me-1"></i>
						<span>{{'password' | translate:lang.data | capitalize}}</span>
						<span>{{'confirmation' | translate:lang.data}}:</span>	
					</label>

					<!-- Input password confirm -->
					<div class="col-11 col-md-7 position-relative">
						<input id="password_confirm"
									 name="password_confirm"
									 type="password"
									 ng-attr-placeholder="{{('password' | translate:lang.data) + ' ' + 
										 											('confirmation' | translate:lang.data)}}"
									 class="form-control form-control-sm input-password"
									 spellcheck="false" 
									 autocomplete="off" 
									 required
									 maxlength="20"
									 ng-model="model.password_confirm"
									 ng-init="model.password_confirm=null"
									 ng-compare-model="model.password"
									 ng-disable-space
									 ng-pattern="/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,20}$/"
									 ng-clear-icon
									 ng-check-mark>
					</div>
				</div>

				<!-- Show/Hide password -->
				<ng-show-password></ng-show-password>

				<!-- Test code -->
				<ng-test-code ng-if="methods.getOptionsKey('isTestCode')"></ng-test-code>
			</form>

			<!-- Footer -->
			<ng-form-dialog-footer form-name="dataForm"
														 accept-id="register"
														 accept-icon="fa-solid fa-address-card"
														 is-in-edit-mode="helper.isInEditMode"
														 callback-accept="methods.accept"
														 callback-cancel="methods.cancel">
			</ng-form-dialog-footer>
		</div>
	</div>
</div>