<div class="form-dialog-footer w-100 px-3 py-2"
     ng-class="footerClass"
     ng-init="callbackAccept=callbackAccept();
              callbackCancel=callbackCancel()">
  <div class="clearfix">
    <div class="float-none float-sm-end pt-2">
      <button id="{{identifier}}"
              type="button" 
              class="btn btn-primary mb-2 mx-2 col-12 col-sm-auto 
                     shadow-sm-bottom-end btnClickEffect"
              ng-class="acceptClass"
              style="min-width:100px;"
              ng-click="callbackAccept($event)"
              ng-disabled="formName.$invalid"
              ng-show="isInEditMode">
        <i ng-class="acceptIcon"></i>
        <span class="ms-1 btn-content">
          {{acceptId | translate:$root.lang.data | capitalize}}
        </span>
      </button>
      <button id="edit"
              type="button" 
              class="btn btn-primary mb-2 mx-2 col-12 col-sm-auto 
                     shadow-sm-bottom-end btnClickEffect"
              style="min-width:100px;"
              ng-click="callbackAccept($event)"
              ng-show="!isInEditMode"
              ng-if="$root.state.id==='profile'">
        <i class="fa-solid fa-pen-to-square"></i>
        <span class="ms-1 btn-content">
          {{'edit' | translate:$root.lang.data | capitalize}}
        </span>
      </button>
      <button id="cancel"
              type="button" 
              class="btn btn-secondary mb-2 mx-2 col-12 col-sm-auto 
                     shadow-sm-bottom-end btnClickEffect"
              style="min-width:100px;"
              ng-click="callbackCancel()">
        <i class="fa-solid fa-circle-xmark"></i>
        <span class="ms-1 btn-content">
          {{'cancel' | translate:$root.lang.data | capitalize}}
        </span>
      </button>
    </div>
    <div class="float-none float-sm-start text-center text-sm-start pt-1"
         ng-if="linkId||linkId2">
      <hr class="text-muted d-sm-none">
      <a class="btn btn-sm border-0 text-primary text-start
                link-offset-2 link-offset-3-hover link-underline
                link-underline-opacity-0 link-underline-opacity-75-hover
                mb-3 mb-sm-1 col-12 col-sm-auto btnClickEffect d-block"
         ui-sref="{{linkState}}"
         ng-if="linkId"
         ng-class="{'mt-sm-3':!linkId2,'disabled':$root.state.id==='profile' && isInEditMode}"
         ng-disabled="$root.state.id==='profile' && isInEditMode">
        <i class="text-decoration-none mx-1"
           ng-class="linkIcon"></i>
        <span class="btn-content">
          {{linkId | translate:$root.lang.data | capitalize}}
        </span>
      </a>
      <a class="btn btn-sm border-0 text-primary text-start
                link-offset-2 link-offset-3-hover link-underline
                link-underline-opacity-0 link-underline-opacity-75-hover
                mb-3 mb-sm-1 col-12 col-sm-auto btnClickEffect d-block"
         ui-sref="{{linkState2}}"
         ng-if="linkId2"
         ng-class="{'disabled':$root.state.id==='profile' && isInEditMode}"
         ng-disabled="$root.state.id==='profile' && isInEditMode">
        <i class="text-decoration-none mx-1"
           ng-class="linkIcon2"></i>
        <span class="btn-content">
          {{linkId2 | translate:$root.lang.data | capitalize}}
        </span>
      </a>
    </div>
  </div>
</div>