<li class="nav-item mx-1 dropdown"
    ng-show="$root.lang.available && $root.lang.available.length &gt; 1">
  <a id="dropdown-menu-language" 
     href="#" 
     class="nav-link dropdown-toggle"  
     role="button" 
     data-bs-toggle="dropdown" 
     aria-expanded="false">
    <img class="me-1" height="22" alt="flag" 
         ng-src="{{$root.lang.imgPath+$root.lang.available[$root.lang.index].img}}">
    <span class="text-capitalize text-small-caps">
      {{$root.lang.available[$root.lang.index].local}}
    </span>
  </a>
  <ul class="dropdown-menu dropdown-menu-end mt-2"
      ng-class="langDropdownMenuClass" 
      aria-labelledby="dropdown-menu-language">
    <li data-lang-id="{{x.id}}"
        class="dropdown-item cursor-pointer"
        ng-click="changeLanguage($event)"
        ng-repeat="x in $root.lang.available" 
        ng-if="x.valid && $index != $root.lang.index"
        data-bs-toggle="collapse" 
        data-bs-target=".navbar-collapse.show">
      <div class="language-item-content d-inline-block text-start">
        <img class="me-1" height="22" alt="flag"
             ng-src="{{$root.lang.imgPath+x.img}}">
        <span class="text-capitalize">
          {{x.name}}
        </span>
        <span ng-if="x.name != x.local">
          ({{x.local}})
        </span>
      </div>
    </li>
  </ul>
</li>